{
	"printWidth": 80,
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "all",
	"overrides": [
		{
			"files": ["package.json", "README.md"],
			"options": {
				"useTabs": false
			}
		}
	]
}
